body {
  margin: 0;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  background-image: radial-gradient(
    circle farthest-corner at 50.7% 54%,
    rgba(204, 254, 152, 1) 0%,
    rgba(229, 253, 190, 1) 92.4%
  );
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  width: 100px;
  border-radius: 20px;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
